<div class="form-group">
  <%= form.label :observations, "Observações", class: "form-label" %>
  <%= form.text_area :observations, rows: 6, class: "form-control", placeholder: "Adicione suas anotações..." %>
</div>
