// Cores - Atualizado para Heyship.ai

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #1a1a1a; // Cinza (usado como cor principal)
$light-gray: #F4F4F4; // Cinza claro (para backgrounds)

$main: #1a1a1a; // Preto principal
$aux1: #ff5857; // Vermelho auxiliar
$aux2: #f09819; // Laranja auxiliar
